
.flex{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.container-content{
    width: 90%;
    border: 2px solid #444545;
    border-radius: 15px;
    padding: 4vw 0px;
}
p{
    font-size: 4.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 85%;
    text-align:justify;
}
button{
    border: none;
    height: 8vw;
    width: 35%;
    border-radius: 50px;
    background-color: #C5E0D8;
}
a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vw;
    color: black;
}